<h2>Games</h2>

@if (games$ | async; as games) {
<table>
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Release year</th>
      <th scope="col">Developers</th>
      <th scope="col">Genres</th>
    </tr>
  </thead>
  <tbody>
    @for (game of games; track game.id) {
    <tr>
      <td><a [routerLink]="['/games', game.slug]">{{ game.title }}</a></td>
      <td>{{ game.originalReleaseYear }}</td>
      <td>{{ game.developers.join(', ') }}</td>
      <td>{{ game.genres.join(', ') }}</td>
    </tr>
    } @empty {
    <tr>
      <td colspan="4">No games available.</td>
    </tr>
    }
  </tbody>
</table>
}
